<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    {% extends "base.html" %}
    
    {%block content%}
    I am {{name}}
   
    <form action = "add" method = 'post'>

         {% csrf_token %}


        Enter first number = <input type = "text" name  = "num1"></br>
        Enter Second number = <input type = "text" name  = "num2"></br>

        <input type = "submit">

    </form> 

    {% endblock%}
    
    <script src="" async defer></script>
  </body>
</html>
